/* my layout */

.flex {
  display: flex;
}
.flex-center {
  justify-content: center;
}
.flex-end {
  justify-content: end;
}
.flex-around {
  justify-content: space-around;
}
.flex-between {
  justify-content: space-between;
}
.flex-column {
  flex-direction: column;
}
.flex-nowrap {
  flex-wrap: nowrap;
}

.text-center {
  text-align: center;
}

.fit {
  width: 100%;
}

.pad {
  padding: 0.75rem;
}

.card {
  margin-bottom: 1.5rem;
}

/* DraftEditor-root */

.DraftEditor-root {
  position: relative;
  cursor: text;
}

/* .public-DraftEditorPlaceholder-root {
  position: absolute;
  z-index: 1;
  width: 100%;
  padding: 0.5em 0.75em;
  color: #cbcbcb;
  font-weight: 300;
  pointer-events: none;
} */

.DraftEditor-editorContainer {
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid transparent;
  /* display: inline-flex; */
  font-size: 1rem;
  justify-content: flex-start;
  line-height: 1.5;
  
  position: relative;
  vertical-align: top;
  background-color: white;
  border-color: #dbdbdb;
  border-radius: 4px;
  color: #363636;
  box-shadow: inset 0 0.0625em 0.125em rgb(10 10 10 / 5%);
  max-width: 100%;
  width: 100%;
}

.DraftEditor-editorContainer > * {
  min-height: 80px;
  max-height: 200px;
  overflow-y: scroll;

}

.public-DraftStyleDefault-block {
  margin: 0;
  padding-bottom: calc(0.5em - 1px);
  padding-left: calc(0.75em - 1px);
  padding-right: calc(0.75em - 1px);
  padding-top: calc(0.5em - 1px);
}
/* 
.public-DraftEditorPlaceholder-root:hover,
.DraftEditor-editorContainer:hover {
  border-color: #b5b5b5;
}
.public-DraftEditorPlaceholder-hasFocus {
  border-color: #485fc7;
  box-shadow: 0 0 0 0.125em rgb(72 95 199 / 25%);
  display: none;
} */

/* ReactTags__tags  */

.ReactTags__tags .tags:not(:last-child) {
  margin-bottom: 0;
}

/* layout */

.navbar {
  /* height: 6em; */
  height: 80px;
  background-color: #f3f3f3;
}

/* .navbar .myname {
  
} */

/* my style */

#container {
  min-height: calc(100vh - 180px);
}

#container aside {
  width: 240px;
  /* padding: 15px; */
}

#container .main {
  width: calc(100% - 240px);
}

@media screen and (max-width: 768px) {
  #container aside {
    display: none;
  }

  #container .main {
    width: 100%;
  }
}

.footer {
  padding: initial;
  height: 100px;
}

#gallery .card {
  max-width: 500px;
  margin: 2rem auto;
}

#about section.bg {
  background-position: center;
  background-size: cover;
}

