/* my layout */

.flex {
  display: flex;
}
.flex-center {
  justify-content: center;
}
.flex-column {
  flex-direction: column
}

.text-center {
  text-align: center;
}

.fit {
  width: 100%;
}

/* layout */

.navbar {
  /* height: 6em; */
  height: 80px;
}

/* .navbar .myname {
  
} */

/* my style */

#container {
  min-height: calc(100vh - 180px);
}

#container aside {
  width: 240px;
  padding: 0 15px 15px;
}

#container .main {
  width: calc(100% - 240px);
}

@media screen and (max-width: 768px) {
  #container aside {
    display: none;;
  }
  
  #container .main {
    width: 100%;
  }
}

.footer {
  padding: initial;
  height: 100px;
}

#gallery .card {
  max-width: 500px;
  margin: 2rem auto;
}

#about section.bg {
  background-position: center;
  background-size: cover;
  
}
